header{
	text-align: center; 
	padding-top: 0px;
}


.header-image {
	padding-right: 9px;
}

#wrapper{ 
max-width: 960px;
margin: 0 auto;
padding-top: 42px;
padding-bottom: 15px;
 }

header h1{ 
	font-family: 'Raleway', sans-serif;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	line-height: 0px;
padding-bottom:25px;
text-align: center; 
}

.nav{
	padding: 0;
	text-align: center; 
	line-height: 32px

}


.nav li{
	display: inline; 
}

.nav a{
	text-decoration: none; 
	color: black;
	padding: 20px;
	font-variant: small-caps;
	color: #454647;
	font-family: helvetica, sans-serif;
	letter-spacing: 5px;
	font-size: 17px;
}

.nav a:hover{
	color: #AFB0B0;
}


main{
padding-left: 300px;

}

.profile img{
	float:left;
	margin-right: 55px;
	margin-bottom: 70px;
}

h2{
	text-decoration: none; 
	color: black;
	color: #454647;
	font-family: trebuchet MS, sans-serif;
	letter-spacing: 5px;
	font-size: 17px;


}

.text img{
	padding-top: 30px;
	width: 19px;
}



p{
	margin-right: 400px;
	    text-align:justify;  
	padding-top: 40px;
font-family: helvetica;
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 25px;
}