header{
	text-align: center; 
	padding-top: 20px;
}

#wrapper{ 
max-width: 960px;
margin: 0 auto;
padding: 32px;
 }

header h1{ 
	font-family: 'Raleway', sans-serif;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
padding-bottom:10px;
text-align: center; 
}

.nav{
	padding: 0;
	text-align: center; 
	line-height: 32px

}


.nav li{
	display: inline; 
	padding-top: 0 10px 0 10px
}

.nav a{
	text-decoration: none; 
	color: black;
	padding: 20px;
	font-variant: small-caps;
	color: #454647;
	font-family: helvetica, sans-serif;
	letter-spacing: 5px;
	font-size: 17px;
}

.nav a:hover{
	color: #AFB0B0;
}


/* Grid body */

.grid{
	padding: 0 200px;
}

.img img{
object-fit: cover;
}

ul{
	list-style: none;
}

.img{
	display: grid;
	grid-template-rows: repeat (5, 400px);
	grid-template-columns: repeat(3, 300px);
	grid-gap: 30px;
}

/* Hover */

.container{
	position: relative;
}

.grid{
	padding-bottom: 70px;
}

.overlay{
	position: absolute;
	transition: all .3s ease;
	opacity: 0; 
	background-color: #eee;
}

.container:hover .overlay{
opacity: .85;
}

.textburn{
	white-space: nowrap;
}

.overlaybeneath{
	white-space: nowrap;
}


.text{
	color: #333333;
	font-family: Helvetica;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	letter-spacing: 3px;
	text-align: center;
	line-height: 35px;

}



.overlayLeft{
	height: 99%;
	width: 0;
	top: 0;
	left: 0;
}

.container:hover .overlayLeft{
	width: 96.5%;
}






