header{
	text-align: center; 
	padding-top: 20px;
}

#wrapper{ 
max-width: 960px;
margin: 0 auto;
padding: 32px;
 }

header h1{ 
	font-family: 'Raleway', sans-serif;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
padding-bottom:10px;
text-align: center; 
}

.nav{
	padding: 0;
	text-align: center; 
	line-height: 32px

}


.nav li{
	display: inline; 
	padding-top: 0 10px 0 10px
}

.nav a{
	text-decoration: none; 
	color: black;
	padding: 20px;
	font-variant: small-caps;
	color: #454647;
	font-family: helvetica, sans-serif;
	letter-spacing: 5px;
	font-size: 17px;
}

.nav a:hover{
	color: #AFB0B0;
}
